// global
// ------------------------------

// variables
// ------------------------------
$nt-gutter-w: ; //width
$nt-black: #010101;
$nt-whit0\\e: #f1f1f1;
$nt-green:
$nt-orange:
$nt-color-primary: $nt-green;
$nt-color-secondary: $nt-orange;
$nt-text-color-primary: $nt-black; 
$nt-text-color-inverse: $nt-white;
$nt-h1-sz: ; //size 
$nt-h2-sz: ;
$nt-h3-sz: ;
$nt-h4-sz: ;
$nt-h5-sz: ;
$nt-h6-sz: ;
$nt-p-siz: ;
$nt-h1-lh: ; //lineheight
$nt-h2-lh: ;
$nt-h3-lh: ;
$nt-h4-lh: ;
$nt-h5-lh: ;
$nt-h6-lh: ;
$nt-p-lh: ;
$nt-ff-primary: 'Open Sans';
$nt-ff-secondary: 'Raleway';
$nt-h1-ff: $nt-ff-secondary; //font-family
$nt-h2-ff: $nt-ff-secondary;
$nt-h3-ff: $nt-ff-secondary;
$nt-h4-ff: $nt-ff-secondary;
$nt-h5-ff: $nt-ff-secondary;
$nt-h6-ff: $nt-ff-secondary;
$nt-p-ff: $nt-ff-primary;


// colors
// ------------------------------

// mixins
// ------------------------------

// sections
// ------------------------------
// top
// hero
// breadcrumb
// feature
// main
// footer
// copyrights

// modules
// ------------------------------
// main-nav
// module-hero
// breadcrumb
// footer

// pages
// ------------------------------

// override
// ------------------------------